* {
    padding: 0;
    margin: 0;
}

.box {
    width: 600px;
    height: 600px;
    background-color: rgb(5, 1, 54);
}
.flex-1, .flex-2, .flex-3, .flex-4, .flex-5, .flex-5 {
    display: flex;
    padding-top: 35px;
}
.flex-2 {
    justify-content: flex-end;
}
.flex-3 {
    justify-content: center;
}
.flex-4 {
    justify-content: space-between;
}
.one {
    width: 150px;
    height: 70px;
    background-color: darkcyan;
}
.two {
    width: 100px;
    height: 70px;
    background-color: goldenrod;
}
.three {
    width: 200px;
    height: 70px;
    background-color: blueviolet;
}
.one1 {
    width: 50px;
    height: 70px;
    background-color: brown;
}
.two2 {
    width: 130px;
    height: 70px;
    background-color: darkcyan;
}
.three3 {
    width: 70px;
    height: 70px;
    background-color: brown;
}
.four4 {
    width: 100px;
    height: 70px;
    background-color: goldenrod;
}
.five5 {
    width: 70px;
    height: 70px;
    background-color: brown;
}
.six6 {
    width: 200px;
    height: 70px;
    background-color: blueviolet;
}
.seven7 {
    width: 50px;
    height: 70px;
    background-color: brown;
}