* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 75px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
}
.h1 {
    width: 100px;
    height: 20px;
    background-color: white;
}
.h2 {
    width: 150px;
    height: 20px;
    background-color: white;
}
.nav {
    width: 25%;
    height: 500px;
    background-color: rgb(82, 83, 82);
}
.main {
    width: 50%;
    height: 500px;
    background-color: rgb(192, 192, 190);
}
.aside {
    width: 25%;
    height: 500px;
    background-color: rgb(82, 83, 82);
}
.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);
}