* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 150px;
    background-color: orangered;
}
.nav {
    width: 19%;
    height: 350px;
    background-color: greenyellow;
}
.main {
    width: 60%;
    height: 350px;
    background-color: goldenrod;
}
.aside {
    width: 19%;
    height: 350px;
    background-color: blue;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: palevioletred;
}
p {
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}