* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 100px;
    background-color: black;
}
.nav {
    width: 25%;
    height: 150px;
    background-color: rgb(234, 234, 238);
}
.main {
    width: 50%;
    height: 150px;
    background-color: white;
}
.aside {
    width: 25%;
    height: 150px;
    background-color: rgb(192, 189, 189);
}
.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}

p {
    color: rgb(173, 169, 169);
    font-size: 30px;
    padding: 50px 0 0 20px;
}
.header p, .footer p {
    padding-top: 30px;
}