* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 150px;
    background-color: orangered;
}
.nav {
    width: 23%;
    height: 350px;
    background-color: greenyellow;
}
.main {
    width: 50%;
    height: 350px;
    background-color: goldenrod;
}
.aside {
    width: 23%;
    height: 350px;
    background-color: blue;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: palevioletred;
}