* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 720px;
    height: 460px;
    background-color: aquamarine;
}
.flex {
    width: 660px;
    padding: 30px;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one {
    width: 30%;
    height: 100px;
    background-color: orange;
}
.two {
    width: 67%;
    height: 100px;
    background-color: orange;
}
.three, .four, .five, .six, .seven {
    width: 18%;
    height: 100px;
    background-color: orange;
}
.eight {
    width: 30%;
    height: 100px;
    background-color: orange;
}
.nine {
    width: 45%;
    height: 100px;
    background-color: orange;
}
.ten {
    width: 19%;
    height: 100px;
    background-color: orange;
}