* {
    padding: 0;
    margin: 0;
}

.flex {
    width: 1000px;
    height: 600px;
    border: 2px black dashed;
    display: flex;
    flex-wrap: wrap;
}
.one {
    width: 33.3%;
    height: 300px;
    background-color: greenyellow;
    border-right: 2px green dashed;
    box-sizing: border-box;
}
.two {
    width: 33.3%;
    height: 300px;
    background-color: greenyellow;
    box-sizing: border-box;
    border-right: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub2 {
    width: 50px;
    height: 150px;
    background-color: orange;
}
.three {
    width: 33.3%;
    height: 300px;
    background-color: grey;
}
.four {
    width: 33.3%;
    height: 300px;
    background-color: greenyellow;
    box-sizing: border-box;
    border-right: 5px black solid;
    border-top: 5px black solid;
    display: flex;
    align-items: flex-end;
}
.sub4 {
    width: 100%;
    height: 140px;
    background-color: orange;
}
.five {
    width: 33.3%;
    height: 300px;
    background-color: grey;
    box-sizing: border-box;
    border-right: 5px black solid;
    border-top: 5px black solid;
}
.six {
    width: 33.3%;
    height: 300px;
    background-color: greenyellow;
    box-sizing: border-box;
    border-top: 5px black solid;
    display: flex;
    align-items: flex-end;
}
.sub6 {
    width: 40%;
    height: 200px;
    background-color: orange;
}
